* {
  margin: 0;
  padding: 0;
}

[class*="col"] {
  padding: 0;
}

/* -- Universal styles and utiility classes -- */
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.bg-light {
  background-color: #d6fffc;
}

.bg-featured {
  background-color: #b8dbd9;
}

.bg-image {
  background-color: #d6fffc;
  background-size: cover;
  background-position: center;
}

.padded {
  padding: 5%;
}

section {
  padding-top: 5%;
  padding-bottom: 5%;
}

header {
  padding: 1% 5%; /*top and bottom then left and right */
}

footer {
  padding: 5%;
  text-align: center;
}

.right {
  text-align: right;
}

/* -- Typography --*/

body {
  font-family: "Arial";
}

h1 {
  font-weight: 300;
  font-size: 3rem;
}

h2 {
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

nav a {
  color: inherit;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0.5rem;
  display: inline-block;
  border-bottom: 1px solid transparent;
}

nav a:hover {
  color: #6ca6a2;
  border-bottom: 1px solid;
}

.button {
  color: inherit;
  background-color: #d6fffc;
  text-decoration: none;
  padding: 0.5rem 2rem;
  display: inline-block;
}

.button:hover {
  background-color: #85fff6;
}

/* -- Images */

.bg-Doha {
  background-image: url("images/image1.jpeg");
}

.bg-NYC {
  background-image: url("images/image2.JPG");
}

.bg-StPauls {
  background-image: url("image3");
}

.bg-o2 {
  background-image: url("image4");
}

.bg-fortress {
  background-image: url("image5");
}

.bg-goa-church {
  background-image: url("image6");
}

.bg-elgouna {
  background-image: url("image7");
}

.bg-elgouna-trees {
  background-image: url("image8");
}

.bg-fortress-stairs {
  background-image: url("image9");
  transform: rotate(90deg);
}

.bg-sunset {
  background-image: url("image10");
  transform: rotate(90deg);
}

.bg-londoneye {
  background-image: url("image11");
}

.bg-redsky {
  background-image: url("image12");
}

.bg-marbella {
  background-image: url("image13");
}

.bg-valetta {
  background-image: url("image14");
}

.bg-paris {
  background-image: url("image15");
}

.bg-sacrecoure {
  background-image: url("image16");
}

.bg-louvre {
  background-image: url("image17");
}

.bg-eiffeltower {
  background-image: url("image18");
}

.bg-stadium {
  background-image: url("image19");
}

.bg-dohasunset {
  background-image: url("image20");
  transform: rotate(90deg);
}

/*Lightbox CSS*/

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #ffffff;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
